/*Game Play Screen */

body {
  margin: auto;
  padding: 10px;
  background-image: url(images/road-bg.jpg);
  background-size: cover;
  font-family: "Krona One";
  text-align: center;
  height: 100vh;
  overflow-y: hidden;

}

#container {
  display: flex;
  justify-content: space-around;
  
}

#left-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60vhvh;
}

#right-side {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#instructions {
  margin-bottom: 2em;
  text-align: center;
  background-color: green;
  font-size: 140%;
}

#instructionsButton {
  background-color: green;
  color: white;
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 10px;
}

.teamBox {
  color: white;
  background: #333;
  padding: 1.5em;
  border-radius: 5px;
  border: 6px solid white;
  width: 10vw;
  height: 9vh;
  margin-bottom: 1em;
  display: inline-block;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.44);
  margin: auto;
}

.teamBox h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

#scoreTotalTeamOne,
#scoreTotalTeamTwo {
  font-size: 1.5em;
}

#endButton {
  background-color: #be1e2d;
  color: white;
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: none;
  font-size: 2em;
  border-radius: 10px;
  margin-bottom: 2em;
}

.gameplaybutton {
  height: 10vh;
  margin: 0 auto 1em auto;
}

/* First breakpoint, elimates the road */
@media only screen and (max-width: 700px) {
  body {
    background: url(images/road-bg-sm.jpg);
    background-size: cover;
  }
  .teamBox {
    width: 17vw;
    height: 14vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .gameplaybutton {
    height: 100px;
    margin: 0 auto 1em auto;
  }
 #instructionsButton{
   font-size: 1em;
 }
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#popup-content h2 {
  margin-top: 0;
}

#popup-content p {
  margin-bottom: 20px;
}

#popup-content ul {
  text-align: left;
}

#popup-content li {
  margin-bottom: 10px;
}

#popup-content button {
  padding: 10px 20px;
  background-color: #be1e2d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#popup-content button:hover {
  background-color: #ad1a2a;
}

#popup-content button:focus {
  outline: none;
}