/*Game Play Screen */

body {
    margin: auto;
    border: 3px solid green;
    padding: 10px;
    background-image: url(images/road-bg.jpg);
    background-size: cover;
    font-family: "Krona One";
    text-align: center;
  }
  
  #horseTeamOne{
    width: 25%; 
   height: 20%; 
   border-radius: 50%; 
   display: block;
    margin: 0 auto; 
  } 
  
  #left-side{
    text-align: center;
  }
  
  #endButton {
    background-color: #be1e2d;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    font-size: 2em;
    border-radius: 10px;
  }
  
  #instructions {
    margin-bottom: 2em;
    text-align: center;
    background-color: green;
    font-size: 140%;
  }
  
  #instructionsButton {
    background-color: green;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 10px;
  }
  
  .teamBox {
    color: white;
    background: #333;
    padding: 1em;
    border-radius: 5px;
    border: 6px solid white;
    margin-bottom: 1em;
    display: inline-block;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.44);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.44);
  }
  
  .teamBox h3,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #scoreTotalTeamOne,
  #scoreTotalTeamTwo {
    font-size: 2.5em;
  }
  
  .gameplaybutton {
    width: 200px;
    height: 200px;
    margin: 0 auto 1em auto;
  }
  
  
  /* First breakpoint, elimates the road */
  @media only screen and (max-width: 675px) {
    body {
      background: url(images/road-bg-sm.jpg);
      background-size: cover;
    }
  }
  
  
  /* Second breakpoint */
  @media only screen and (max-width: 550px) {
    .gameplaybutton {
      width: 150px;
      height: 150px;
    }
  }
  